@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

a:hover, body {
 color: white; 
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #1DA1F2;
  font-size: 18px;
}

form {
  color: black;
}

a {
  color: #1F41A2;
}

p ~ img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
